* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .ecommerce,
  .products,
  .contact-us,
  .sign-up,
  .bolsos,
  .perfumes
  .anteojos{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  
  .home {
    background-image: url('./images/chica.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 70px;
  }
  

  .ecommerce {
    background-image: url('./images/ecommerce2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 70px;
  }
  
  .products {
    background-image: url('./images/roparosa.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 70px;
  }
  
  .contact-us {
    background-image: url('./images/img-6.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 70px;
  }


  .perfumes {
    background-image: url('./images/perfume.jpg');
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 70px;
   
  }
  
  .bolsos {
    background-image: url('./images/bolso2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 70px;
  }


  
  .sign-up {
    background-image: url('./images/img-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 70px;
  }
  

   
  .anteojos {
    background-image: url('./images/anteojos.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 70px;
 
  }
  
  